{
    "all": true,
    "check-coverage": true,
    "lines": 80,
    "branches": 70,
    "extension": [
        ".ts"
    ],
    "exclude": [
        "**/*.d.ts",
        "examples",
        "dist",
        "coverage"
    ],
    "reporter": [
        "html"
    ]
}
