{
    "all": true,
    "extension": [
        ".ts"
    ],
    "exclude": [
        "**/*.d.ts",
        "examples",
        "dist",
        "coverage"
    ],
    "reporter": [
        "lcov",
        "html"
    ]
}
